#current-term-header {
    text-decoration: underline;
    text-align: center;
}

#student-name-underline {
    border-bottom: 1px solid;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    margin-right: 20px;
    /* font-size: small; */
    /* text-decoration: underline;
    margin-right: 20px;
    font-weight: bold; */
}

#student-gender-underline {
    border-bottom: 1px solid;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    
    /* text-decoration: underline;
    font-weight: bold; */
}

.result-parent-div {
    margin: auto;
    width: 800px;
    margin-top: 30px;
}

.student-basic-data {
    border-bottom: 1px solid;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    margin: 20px;


    /* text-decoration: underline;
    font-weight: bold;
    margin: 20px; */
}

.teacher-remark {
	border: solid 1px;
	text-align: center;
}

.teacher-remark-section {
    margin-bottom: 20px;;
}

/* .student-bio {
    display: flex;
    justify-content: space-between;
} */

/* .student-image {

} */

#perfomance-summary {
    text-align: center;
}

.performance-summary-table {
    margin-top: 20px;
}


.resumption-section {
    margin-top: 20px;
}

.resumption-date {
    border-bottom: 1px solid;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    font-size: small;
}

#overall-remark {
    text-align: center;
    vertical-align: middle ;
    font-weight: bold;
}


.bolded-text {
    font-weight: bold;
}

#receipt-logo {
    margin-top: 100px;
    margin-bottom: 50px;
}

