{{template "base" .}}
{{define "main"}}
       
        <!-- Single pro tab review Start-->
        <div class="single-pro-review-area mt-t-30 mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-payment-inner-st">
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div id="dropzone1" class="pro-ad">
                                                    <form action="/students" class="dropzone dropzone-custom needsclick add-professors" id="demo1-upload" method="POST" enctype="multipart/form-data">
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="form-group">
                                                                    <input name="fullName" type="text" class="form-control" placeholder="Full Name" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input name="address" type="text" class="form-control" placeholder="Address">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input name="phoneNo" type="number" class="form-control" placeholder="Phone no." required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input name="dateOfBirth" id="finish" type="date" class="form-control" placeholder="Date of Birth">
                                                                </div>                                                                
                                                                <div class="form-group">
                                                                        <input name="image" id="finish" type="file" class="form-control" placeholder="Student Picture" required>
                                                                </div>

                                                                <!-- TODO: Use the dropzone or investigate why the dropzoene isn't working -->
                                                                <!-- <div class="form-group alert-up-pd">
                                                                    <div class="dz-message needsclick download-custom">
                                                                        <i class="fa fa-download edudropnone" aria-hidden="true"></i>
                                                                        <h2 class="edudropnone">Drop image here or click to upload.</h2>
                                                                        <p class="edudropnone"><span class="note needsclick">(This is just a demo dropzone. Selected image is <strong>not</strong> actually uploaded.)</span>
                                                                        </p>
                                                                        <input name="imageico" class="hd-pro-img" type="text" />
                                                                    </div>
                                                                </div> -->
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <!-- <div class="form-group">
                                                                    <input name="department" type="text" class="form-control" placeholder="Department">
                                                                </div> -->
                                                                <!-- <div class="form-group res-mg-t-15">
                                                                    <textarea name="description" placeholder="Description"></textarea>
                                                                </div> -->
                                                                <div class="form-group">
                                                                    <select name="gender" class="form-control" required>
																		<option value="none" selected="" disabled="">Select Gender</option>
																		<option value="MALE">Male</option>
																		<option value="FEMALE">Female</option>
																	</select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <select name="religion" class="form-control">
																			<option value="none" selected="" disabled="">Religion</option>
																			<option value="ISLAM">Islam</option>
																			<option value="CHRISTIANITY">Christianity</option>
																			<option value="OTHER">Others</option>
																		</select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <select name="class" class="form-control" required>
																			<option value="none" selected="" disabled="">Select Class</option>
																			<option value="JSS1">JSS 1</option>
																			<option value="JSS2">JSS 2</option>
																			<option value="JSS3">JSS 3</option>
																			<option value="SSS1">SSS 1</option>
																			<option value="SSS2">SSS 2</option>
																			<option value="SSS3">SSS 3</option>
																		</select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <select name="religionInterest" class="form-control">
																			<option value="none" selected="" disabled="">Interested in other religion holiday message</option>
																			<option value="0">Yes</option>
																			<option value="1">No</option>																			
																		</select>
                                                                </div>
                                                                <!-- <div class="form-group">
                                                                    <input name="website" type="text" class="form-control" placeholder="Website URL">
                                                                </div> -->
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="payment-adress">
                                                                    <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

 {{end}}