{{template "base" .}}    
{{define "main"}}
        <!-- Static Table Start -->
        <div class="data-table-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline13-list">
                            <div class="sparkline13-hd">
                                <div class="main-sparkline13-hd">
                                    <h1>School <span class="table-project-n">Fees</span> Data</h1>
                                </div>
                            </div>
                            <div class="sparkline13-graph">
                                <div class="datatable-dashv1-list custom-datatable-overright">                                    
                                    <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                        data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                        <thead>
                                            <tr>
                                                
                                                <th data-field="id">ID</th>
                                                <th data-field="name">Name</th>
                                                <th data-field="email" >Class</th>
                                                <th data-field="phone">Outstanding Debt</th>
                                                <th data-field="complete">Present term Fee</th>
                                                <th data-field="price">Present term Payment</th>
                                                <th data-field="task" >Present term balance</th>
                                                <th data-field="date">Gender</th>
                                                
                                                <th data-field="action">Add payment</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{ range  $index, $value := .}}
                                            <tr>
                                                
                                                <td>{{$index}}</td>
                                                <td><a href="/student-profile/{{.ID}}">{{.Name}}</a></td>
                                                <td>{{.ClassText}}</td>
                                                <td><a href="/outstanding-debt/{{.ID}}">{{.OutstandingDebt}}</a></td>
                                                <td>{{.PresentTermFees}}</td>
                                                <td>{{.PresentTermPayment}}</td>
                                                <!-- TODO: Write a tempate function that would get the difference for status -->
                                                <!-- TODO: I can also do this at the backend to reduce calculaton on the frontend -->
                                                {{ if .IsFeeCompleted }}
                                                    <td id="fee-completed">{{.PresentTermBalance}}</td>
                                                {{ else }}
                                                <td id="fee-not-completed">{{.PresentTermBalance}}</td>
                                                {{end}}
                                                <td>{{.Gender}}</td>
                                                <td class="datatable-ct">
                                                    <a href="/student-payment/{{.ID}}">Add payment</a>                                                    
                                                </td>
                                            </tr>
                                            {{end}}
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        {{end}}