{{template "base" .}}    
{{define "main"}}
        <div class="contacts-area mg-b-15">
            <div class="container-fluid">
                    {{ range  $index, $value := .}}
                    {{if eq $index 3 }}
                    <!-- TODO: Create a better condition for this This is currently wrong -->
                <div class="row">
                    {{end}}
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="hpanel hblue contact-panel contact-panel-cs responsive-mg-b-30">
                            <div class="panel-body custom-panel-jw">
                                <!-- <div class="social-media-in">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div> -->
                                <!-- <img alt="logo" class="img-circle m-b" src="img/contact/{{$index}}.jpg"> -->
                                <h3><a href="">{{.Name}}</a></h3>
                                <!-- <p class="all-pro-ad">London, LA</p>
                                <p>
                                    Lorem ipsum dolor sit amet of, consectetur adipiscing elitable. Vestibulum tincidunt est vitae ultrices accumsan.
                                </p> -->
                            </div>
                            <div class="panel-footer contact-footer">
                                <a href="/assign-subject/{{.ID}}">
                                <div class="professor-stds-int" style="color: #fff; justify-content: center;">
                                    Assign Subjects
                                </div>
                                </a>
                                
                            </div>
                            <div class="panel-footer contact-footer">
                                <a href="/teacher-subject/{{.ID}}">
                                <div class="professor-stds-int" style="color: #fff; justify-content: center;">
                                    View  Subjects
                                </div>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    
                    {{if eq $index 3 }}
                </div>
                {{end}}
                {{end}}
                
            </div>
        </div>
   {{end}}