{{template "base" .}}    
{{define "main"}}
        <div class="contacts-area mg-b-15">
            <div class="container-fluid">
                
                {{ range  $index, $value := .}}
                {{if eq $index 3 }}
                <!-- TODO: Create a better condition for this This is currently wrong -->
                    <div class="row">
                {{end}}
                        
                
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="student-inner-std res-mg-b-30">
                                    <div class="student-img">
                                        <!-- <img src="img/student/{{$index}}.jpg" alt="" /> -->
                                        <!-- <img src="img/student/{{.Image}}" alt="" /> -->
                                    </div>
                                    <div class="student-dtl">
                                        <h2>{{.Name}}</h2>
                                        <p class="dp">{{.ClassText}}</p>
                                        <p class="dp-ag"><b>Age:</b> {{.DateOfBirth}}</p>
                                        <p class="dp-ag"><a href="/student-profile/{{.ID}}">View Student</a></p>
                                        <p class="dp-ag"><a href="/student-result/{{.ID}}" target="_blank">View Student Result</a></p>

                                    </div>
                                </div>
                            </div>

                    
                            {{if eq $index 3 }}
                        </div>
                        {{end}}
                {{end}}
                <!-- <div class="row">
                    {{ range  $index, $value := .}}
                        <p>{{$index}} {{.Name}}</p>
                        <p>{{.Address}}</p>
                        <p>{{.PhoneNo}}</p>
                        <p>{{.Religion}}</p>
                    {{end}}
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="student-inner-std res-mg-b-30">
                            <div class="student-img">
                                <img src="img/student/1.jpg" alt="" />
                            </div>
                            <div class="student-dtl">
                                <h2>Alexam Angles</h2>
                                <p class="dp">Computer Science</p>
                                <p class="dp-ag"><b>Age:</b> 20 Years</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="student-inner-std res-mg-b-30">
                            <div class="student-img">
                                <img src="img/student/2.jpg" alt="" />
                            </div>
                            <div class="student-dtl">
                                <h2>Alexam Angles</h2>
                                <p class="dp">Computer Science</p>
                                <p class="dp-ag"><b>Age:</b> 20 Years</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="student-inner-std res-mg-b-30 res-tablet-mg-t-30 dk-res-t-pro-30">
                            <div class="student-img">
                                <img src="img/student/3.jpg" alt="" />
                            </div>
                            <div class="student-dtl">
                                <h2>Alexam Angles</h2>
                                <p class="dp">Computer Science</p>
                                <p class="dp-ag"><b>Age:</b> 20 Years</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="student-inner-std res-tablet-mg-t-30 dk-res-t-pro-30">
                            <div class="student-img">
                                <img src="img/student/4.jpg" alt="" />
                            </div>
                            <div class="student-dtl">
                                <h2>Alexam Angles</h2>
                                <p class="dp">Computer Science</p>
                                <p class="dp-ag"><b>Age:</b> 20 Years</p>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="student-inner-std mg-t-30">
                            <div class="student-img">
                                <img src="img/student/1.jpg" alt="" />
                            </div>
                            <div class="student-dtl">
                                <h2>Alexam Angles</h2>
                                <p class="dp">Computer Science</p>
                                <p class="dp-ag"><b>Age:</b> 20 Years</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="student-inner-std mg-t-30">
                            <div class="student-img">
                                <img src="img/student/2.jpg" alt="" />
                            </div>
                            <div class="student-dtl">
                                <h2>Alexam Angles</h2>
                                <p class="dp">Computer Science</p>
                                <p class="dp-ag"><b>Age:</b> 20 Years</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="student-inner-std mg-t-30">
                            <div class="student-img">
                                <img src="img/student/3.jpg" alt="" />
                            </div>
                            <div class="student-dtl">
                                <h2>Alexam Angles</h2>
                                <p class="dp">Computer Science</p>
                                <p class="dp-ag"><b>Age:</b> 20 Years</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="student-inner-std mg-t-30">
                            <div class="student-img">
                                <img src="img/student/4.jpg" alt="" />
                            </div>
                            <div class="student-dtl">
                                <h2>Alexam Angles</h2>
                                <p class="dp">Computer Science</p>
                                <p class="dp-ag"><b>Age:</b> 20 Years</p>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        
    </div>

    {{end}}