{{template "base" .}}    
{{define "main"}}

        <div class="courses-area">
            <div class="container-fluid">
                    {{ range  $index, $value := .}}
                    {{if eq $index 3 }}
                    <!-- TODO: Create a better condition for this This is currently wrong -->
                <div class="row">
                    {{end}}
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="courses-inner res-mg-b-30">
                            <div class="courses-title">
                                <!-- <a href="#"><img src="img/courses/1.jpg" alt=""></a> -->
                                <h2>{{.Name}}</h2>
                            </div>
                            <!-- <div class="courses-alaltic">
                                <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-clock"></i></span> 1 Year</span>
                                <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-heart"></i></span> 50</span>
                                <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-dollar"></i></span> 500</span>
                            </div>
                            <div class="course-des">
                                <p><span><i class="fa fa-clock"></i></span> <b>Duration:</b> 6 Months</p>
                                <p><span><i class="fa fa-clock"></i></span> <b>Professor:</b> Jane Doe</p>
                                <p><span><i class="fa fa-clock"></i></span> <b>Students:</b> 100+</p>
                            </div>
                            <div class="product-buttons">
                                <button type="button" class="button-default cart-btn">Read More</button>
                            </div> -->
                        </div>
                    </div>
                    {{if eq $index 3 }}
                </div>
                {{end}}
                {{end}}
                
            </div>
        </div>
  
{{end}}