{{template "base" .}}

    {{define "main"}}
        <div class="analytics-sparkle-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="analytics-sparkle-line reso-mg-b-30">
                            <div class="analytics-content">
                                <h5>Amount owed [Coming soon]</h5>
                                <h2>#<span class="counter">0</span> <span class="tuition-fees">Tuition Fees</span></h2>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="analytics-sparkle-line reso-mg-b-30">
                            <div class="analytics-content">
                                <h5>Number of students in school</h5>
                                <h2>#<span class="counter">{{.NumberOfStudentInSchool}}</span> <span class="tuition-fees">Student count</span></h2>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="analytics-sparkle-line reso-mg-b-30 table-mg-t-pro dk-res-t-pro-30">
                            <div class="analytics-content">                                
                                <h5>Amount realized this term</h5>
                                <h2>#<span class="counter">{{.AmountRealizedThisTerm}}</span> <span class="tuition-fees">Tuition Fees</span></h2>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="analytics-sparkle-line table-mg-t-pro dk-res-t-pro-30">
                            <div class="analytics-content">
                                <h5>Amount realized in the past week [Coming soon]</h5>
                                <h2>#<span class="counter">Coming soon</span> <span class="tuition-fees">Tuition Fees</span></h2>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    {{end}}