{{template "base" .}}    
{{define "main"}}

        <!-- Static Table Start -->
        <div class="data-table-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline13-list">
                            <div class="sparkline13-hd">
                                <div class="main-sparkline13-hd">
                                        <img src="/img/student-modified/testimage.jpg" alt="" />
                                    
                                    <!-- TODO: Get this data dynamically -->
                                    <h1>Enter <span class="table-project-n">Results For Mathematics</span> JSS1</h1>
                                </div>
                            </div>
                            <div class="sparkline13-graph">
                                <div class="datatable-dashv1-list custom-datatable-overright">
                                    <div id="toolbar">
                                        <select class="form-control dt-tb">
											<option value="">Export Basic</option>
											<option value="all">Export All</option>
											<option value="selected">Export Selected</option>
										</select>
                                    </div>
                                    <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                        data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                        <thead>
                                            <tr>
                                                <!-- <th data-field="state" data-checkbox="true"></th> -->
                                                
                                                <th data-field="name">Name</th>
                                                <th data-field="name">Subject</th>
                                                <th data-field="firstCA" data-editable="true">1st CA</th>
                                                <th data-field="secondCA" data-editable="true">2nd CA</th>
                                                <th data-field="exam" data-editable="true">Exam</th>
                                                <!-- <th data-field="firstCA">CA</th>
                                                <th data-field="secondCA">CA</th>
                                                <th data-field="exam">Exam</th> -->
                                                <th data-field="complete">Total</th>
                                                <th data-field="task">Grade</th>
                                                <th data-field="task">Remarks</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                {{ range  $index, $value := .}}
                                                <tr>
                                                        <!-- <td></td> -->
                                                        
                                                        <td>{{.StudentID}}</td>
                                                        <td>{{.SubjectClassID}}</td>
                                                        <!-- <td><a href="#" id="username" data-type="text" data-pk="1" data-title="Enter username">superuser</a></td> -->
                                                        <td>{{.FirstCA}}</td>
                                                        <td>{{.SecondCA}}</td>
                                                        <td>{{.FirstExam}}</td>                                                
                                                        <td>{{.TotalFirst}}</td>                                                
                                                        <td>{{.GradeFirst}}</td>                                                
                                                        <td>{{.RemarkFirst}}</td>                                                
                                                    </tr>
                                                    {{end}}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
        {{end}}